/* ============== CALENDAR ==============*/

/* ============== NAME TO ==============*/

.calendar-wrap {
  width: fit-content;
  justify-items: center;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

.person-box {
  display: grid;
  grid-auto-flow: column;

  width: fit-content;
  gap: 2rem;
  padding: 3rem 0 2rem 0;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
}

.calendar-name {
  font-size: 5rem;
  font-weight: 700;
  font-style: italic;
  color: rgba(240, 193, 7, 0.8);
}
/* Door */
.door {
  aspect-ratio: 1 / 1;
  border: var(--bw-2) solid rgba(240, 193, 7, 0.35);
  border-radius: var(--r-8);
  position: relative;
  cursor: pointer;
  backdrop-filter: blur(6px);

  font-size: var(--fs-2);
  color: var(--text-tint-light);
  background: var(--door-bg);
  transition:
    transform 0.16s ease,
    box-shadow 0.25s ease;
}
.door:hover {
  transform: scale(1.03);
  box-shadow: 0 0 3rem rgba(240, 193, 7, 0.35);
}

/* LOCKED DOOR */
.door.locked {
  background: var(--door-locked);
  border: var(--bw-2) solid rgba(224, 44, 44, 0.2);
  cursor: not-allowed;
}
/* LOCKED -> No hover effect */
.door.locked {
  box-shadow: none;
}

.door.today {
  border: 3px solid var(--accent);
}
.door.today:hover {
  box-shadow: 0 0 3rem rgba(34, 211, 238, 0.7);
}

.door.opened {
  background: transparent;
  color: transparent;
  box-shadow: none !important;
  backdrop-filter: none !important;
  border: var(--bw-2) solid rgba(240, 193, 7, 0.35) !important;
}
.door .num {
  position: absolute;
  top: var(--sp-4);
  left: var(--sp-5);
  font-weight: var(--fw-6);
  opacity: 0.9;
  font-size: 1.5rem;

  font-variant-numeric: tabular-nums;
}
