/* ============== FOOTER ==============*/
footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: var(--fw-6);
  padding: 2rem 0;
  /* background: var(--bg-color); */
  background: transparent;
}

footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 2px;

  background: linear-gradient(to right, #f0c107, rgba(220, 215, 195, 0.92));
}