/* ============== FOOTER ==============*/
footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: var(--fw-6);
  padding: 2rem 0;
  background: transparent;

  backdrop-filter: blur(6px);
  box-shadow: 0 4px 20px rgba(101, 196, 255, 0.12);
}

footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 2px;

  background: linear-gradient(to right, #f0c107, rgba(220, 215, 195, 0.92));
}
