/* ============== HEADER ==============*/

.topbar {
  position: sticky;
  top: 0;
  z-index: 5000;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;

  /*Fix height for sticky navigation */
  height: 4rem;

  backdrop-filter: blur(6px);
  box-shadow: 0 4px 20px rgba(101, 196, 255, 0.12);
}

.topbar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 2px;

  background: linear-gradient(to right, #f0c107, rgba(220, 215, 195, 0.92));
}

.header-side {
  display: flex;
  flex: 1;
  align-items: center;
}

/* ============== LOGO ==============*/

#homeBtn {
  overflow: hidden; /* schneidet sichtbar */
  width: 160px;
  height: 48px;
  cursor: pointer;
  background: transparent;
  padding: 0 !important;
  border: none !important;
  margin-right: 2rem;
}

#homeBtn:active {
  transform: none;
}

#btn-img {
  position: relative;
  top: -2.5rem;
}
/* ============== MENU ==============*/
.hamburger-container {
  position: relative;
  z-index: 6000;
}

.hamburger-btn {
  font-size: 1.8rem;
  border: none;
  background: transparent;
  color: var(--header-border);
}
.hamburger-btn:hover {
  color: #fff2a3;
}

.menu-dropdown {
  position: absolute;
  left: 0;
  top: calc(100% + var(--sp-2));

  display: none;
  flex-direction: column;
  min-width: 170px;
  z-index: 7000;

  background: rgba(0, 0, 0, 0.542);

  backdrop-filter: blur(8px);
  border-radius: 8px;
  border-top: var(--bw-2) solid rgba(240, 193, 7, 0.6);
  border-bottom: var(--bw-2) solid rgba(240, 193, 7, 0.6);
  box-shadow: var(--shadow-2);
  overflow: hidden;

  animation: fadeInMenu 0.25s ease-out forwards;
}
.menu-dropdown.open {
  display: flex;
}

@keyframes fadeInMenu {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-item {
  background: transparent;
  color: var(--header-border);
  border: none;
  text-align: left;
  font-size: 1.8rem;
  padding: var(--sp-3) var(--sp-4);
  cursor: pointer;
  width: 100%;
}
.menu-item:hover {
  background: rgba(255, 255, 255, 0.08);
  color: #fff2a3;
}

.header-side.right {
  font-size: 1.5rem;
  font-weight: var(--fw-5);
  justify-content: flex-end;
  flex-wrap: wrap;
}

/* ============== DATE/TIME ==============*/
#currentDate,
#currentHour {
  font-weight: var(--fw-4);
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
  color: var(--text);
  margin-right: 2rem;
}

/* ============== LANGUAGE SELECT ==============*/
#pageLanguage {
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  border: var(--bw-1) solid rgba(240, 193, 7, 0.35);

  color: inherit;
  cursor: pointer;
}
#pageLanguage:focus {
  outline: 1px solid #f0c10781;
}

select {
  border: var(--bw-1) solid rgba(240, 193, 7, 0.35);
}

select:focus {
  outline: 1px solid #f0c10781;
}
