/* ============== STARTPAGE / HERO ==============*/

.hero-container {
  width: 100%;
  padding: 9rem 0;
  align-items: center;
  justify-items: center;

  /*BG image cover with gray */
  background-image:
    linear-gradient(to right, rgba(40, 40, 40, 0.1), rgba(20, 20, 20, 0.2)),
    url(/data/bilds/hero_bg_left.png);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#hero {
  display: grid;
  max-width: 130rem;
  grid-template-columns: 0.7fr 0.3fr;
  margin: 0 auto;
  gap: 6rem;
  align-items: center;
  justify-items: center;
}

.hero-left {
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(101, 196, 255, 0.12);
  background: rgba(32, 32, 32, 0.176);
  border-radius: 8px;
  padding: 4rem 8rem;
}

/*LBL HERO */
.hero-kicker {
  font-size: 1.1rem;
  color: #0e0e0e;
  font-weight: var(--fw-8);
  background-color: #f0c107;
  border-radius: 2px;
  width: fit-content;
  padding: 0 5px;
  margin: 0 0 -2px -15px;

  letter-spacing: 0.04em;
}

/* TITLE */
.hero-title {
  font-size: 5.8rem;
  font-weight: var(--fw-6);
  line-height: 1;
  letter-spacing: -1px;
  margin-bottom: 3.2rem;
}
/* SUBTITLE */
.hero-subtitle {
  font-size: 2rem;
  font-weight: var(--fw-4);
  color: var(--text);
  line-height: 1.6;
  max-width: 55ch;
  margin-bottom: 6rem;
}

/* ============== CTA BUTTONS ==============*/
.hero-actions {
  display: grid;
  max-width: fit-content;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--sp-5);
  margin-bottom: var(--sp-4);
}

.hero-trust {
  font-size: 1.5rem;
  font-weight: var(--fw-4);
  color: var(--text);
}

.hero-right {
  height: 55rem;
}
