/* ============== STANDARD ELEMENTS ==============*/
/* SECTION LBL -> TITLE */
.label {
  display: block;
  font-size: 1.5rem;
  font-weight: var(--fw-5);
  letter-spacing: 0.8px;
  color: #f0c107;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 3.8rem;
  line-height: 1.2;
  margin-bottom: 9rem;
}

/* ============== CARDS ==============*/
.card {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 4rem;
  padding: 4rem 2rem;

  justify-content: center;

  border-radius: var(--r-3);
  border: var(--bw-2) solid rgba(224, 44, 44, 0.2);
  box-shadow: 0 1rem 4rem rgba(238, 139, 139, 0.08);
  background: rgba(0, 0, 0, 0.16);

  /* Effects animation time */
  transition: all 0.3s;
}

.card-accent {
  border-color: rgba(240, 193, 7, 0.35);
  box-shadow: 0 1rem 4rem rgba(247, 221, 119, 0.08);
}

/* MOVE UP EFFECT, shadow grow, lighten */
.card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 2rem 7rem rgba(238, 139, 139, 0.06);
}

.card-accent:hover {
  box-shadow: 0 2rem 6rem rgba(247, 221, 119, 0.06);
}

.container.grid.grid--2cols {
  max-width: 110rem;
}

.card-title {
  font-size: 3.5rem;
  font-weight: 700;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.li-icon {
  height: 2.4rem;
  width: 2.4rem;
  display: grid;
  place-items: center;
}
.li-icon--negative {
  color: rgba(224, 44, 44, 0.6);
}
.li-icon--positive {
  color: rgba(240, 193, 7, 0.6);
}
.card-li {
  display: grid;
  grid-template-columns: 2.4rem 1fr;
  gap: 2.3rem;
  align-items: start;
}

.li-text {
  font-size: 2rem;
  line-height: 1.25;
  max-width: 24ch;
}

/* ============== HOW IT WORKS ==============*/
.how {
  margin-bottom: 9rem;
}
.container.grid.grid--2cols.grid--center-v {
  max-width: 120rem !important;
  gap: 8rem 4rem !important;
}
.step-numb {
  font-size: 5rem;
  font-weight: var(--fw-6);
  color: #eae2c442;
  margin-bottom: 1.5rem;
}

.text-3 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.text-base {
  font-size: 1.8rem;
  line-height: 1.6;
  max-width: 35ch;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
}

.step-img {
  height: 70%;
  transition: transform 0.3s ease;
}
/* IMG UPSCALE */
.step-img:hover {
  transform: scale(1.03);
}
