/* ============== STANDARD ELEMENTS ==============*/
.label {
  display: block;
  font-size: 1.5rem;
  font-weight: var(--fw-5);
  letter-spacing: 0.8px;
  color: #f0c107;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 3.8rem;
  line-height: 1.2;
  margin-bottom: 9rem;
}
/* ============== CARDS ==============*/

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 3.5rem;

  border-radius: var(--r-3);
  border: var(--bw-1) solid rgba(224, 44, 44, 0.2);
  box-shadow: 0 0.4rem 1.8rem rgba(224, 122, 122, 0.1);
  background: rgba(0, 0, 0, 0.16);
  padding: 2rem;
}

.container.grid.grid--2cols {
  gap: 12rem;
  max-width: fit-content;
}

.card-accent {
  border-color: rgba(34, 197, 94, 0.3);
  box-shadow: 0 0.6rem 1.8rem rgba(209, 255, 231, 0.1);
}

.card-title {
  align-self: center;
  min-height: 3.6rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: bottom;
}

.li-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.li-icon--negative {
  color: rgba(224, 44, 44, 0.6);
}
.li-icon--positive {
  color: rgba(34, 197, 94, 0.6);
}
.card-li {
  display: flex;
  align-items: center;
  gap: 2.3rem;
}

.li-text {
  font-size: 1.8rem;
  max-width: 25ch;
}

.li-no {
  color: #c8b06f3e;
  font-size: 1.8rem;
  font-weight: 600;
}

/* ============== HOW IT WORKS ==============*/
.how {
  margin-bottom: 9rem;
}
.container.grid.grid--2cols.grid--center-v {
  max-width: 120rem !important;
  gap: 8rem 4rem !important;
}
.step-numb {
  font-size: 5rem;
  font-weight: var(--fw-6);
  color: #eae2c442;
  margin-bottom: 1.5rem;
}

.text-4 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.text-base {
  font-size: 1.8rem;
  line-height: 1.6;
  max-width: 35ch;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
}

.step-img {
  height: 70%;
}
